html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 161px;
}

.footer-logo {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-container {
  margin-left: 100px;
  display: flex;
  justify-content: center;
}

.footer-text {
  color: #757575;
  width: 250px;
}

body {
  font-family: Roboto;
  line-height: normal;
}

.logo, .footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
}

.footer-text {
  line-height: 24px; /* 171.429% */
}

.footer-title {
  color: #ffffff;
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  border-radius: 50%;
  background-color: #2F303A;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer:hover {
  fill: #ffffff;
  background-color: #2196F3;
}

.svg-container-footer {
  margin-left: 70px;
}

.send-img {
  width: 24px;
  height: 24px;
  z-index: 1;
  fill: #ffffff;
}

.subscribe-btn {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-left: 12px;
  align-items: center;
  justify-content: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.subscribe-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  width: 308px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #757575;
  background: rgba(33, 150, 243, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-titile {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.logo-span {
  color: #2196F3;
}

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-content: center;
  padding-top: 40px;
}
.header .nav-menu {
  width: 40px;
  height: 40px;
}
.header .nav {
  display: none;
}
.header .phone {
  display: none;
}
.header .logo-mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .nav {
    display: flex;
    gap: 50px;
  }
  .header .logo {
    margin-right: 140px;
  }
  .header .nav-menu {
    width: auto;
    height: 0px;
  }
  .header .phone {
    display: flex;
  }
  .header .phone-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header .mobile-header {
    display: none;
  }
  .header .phone-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.header-nav-link {
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover {
  color: #2196F3;
  display: block;
  animation-name: shakeX;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shakeX {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}
.header-nav-link {
  color: black;
}

.active::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: #2196F3;
  margin-top: 28px;
}

.logo {
  color: black;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.phone-img {
  width: 10px;
  height: 16px;
  fill: #757575;
}

.envelope-img {
  width: 16px;
  height: 12px;
  fill: #757575;
}

.phone-item svg:hover {
  fill: #2196f3;
}

.phone-item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-item:hover {
  color: #2196f3;
  fill: #2196f3;
  animation-name: shakeX;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.phone-list {
  display: flex;
  gap: 20px;
}

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 300px;
  min-height: 400px;
  padding: 15px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.no-scroll {
  overflow: hidden;
}

.close-img {
  width: 18px;
  height: 18px;
}

.close-btn {
  background-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-color: rgba(33, 150, 243, 0);
  margin-left: 93%;
}

.close-btn:hover {
  fill: #2196F3;
}

.modal-title {
  color: rgba(33, 150, 243, 0);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-top: 8px;
  margin-left: 40px;
}

.input-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  border: none;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 24px;
  outline: none;
}

.modal-input:focus {
  border: 2px solid #2196F3;
}

.info-label {
  display: flex;
  flex-direction: column;
  color: #757575;
  margin-bottom: 10px;
  margin-top: 4px;
}

.comment-textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 150, 243, 0);
  margin-top: 4px;
  outline: none;
}

.comment-textarea:focus {
  border: 2px solid #2196F3;
}

.comment-label {
  color: #757575;
}

.comment-textarea::-moz-placeholder {
  padding-top: 7px;
  padding-left: 6px;
}

.comment-textarea::placeholder {
  padding-top: 7px;
  padding-left: 6px;
}

.input-span {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  cursor: pointer;
}

.checkbox-label {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  display: flex;
  align-content: center;
  gap: 8px;
}

.checkbox-input {
  accent-color: #2196F3;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 4px;
  transform: translateY(50%);
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper:hover {
  fill: #2196F3;
}

.send-btn {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.clients-item {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  padding: 16px 32px 16px 32px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 94px;
  row-gap: 30px;
  -moz-column-gap: 135px;
       column-gap: 135px;
  flex-wrap: wrap;
}

.clients-image {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

.clients-item:hover {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.clients-item svg:hover {
  fill: #2196F3;
}

.clients-title {
  text-align: center;
  margin-top: 94px;
}

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.main-menu {
  background-image: url(../img/menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  margin-top: 20px;
  padding-top: 200px;
  padding-bottom: 280px;
}

.main-menu-title {
  font-size: 44px;
  width: 500px;
  text-align: center;
  color: #FFFFFF;
  line-height: 60px; /* 136.364% */
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu-btn {
  background-color: #2196F3;
  color: #ffffff;
  line-height: 30px; /* 187.5% */
  width: 215px;
  height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(157, 154, 154, 0.15);
}

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.our-advantages-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 70px;
}

.our-advantages-title {
  margin-bottom: 10px;
}

.our-advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 94px;
}

.our-advantages-img {
  width: 70px;
  height: 70px;
  margin-left: 70px;
  margin-bottom: 15px;
}

.our-advantages {
  margin-top: 50px;
  margin-bottom: 80px;
}

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.team {
  padding-top: 186px;
  padding-bottom: 84px;
  text-align: center;
}
.team .team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team .team-list {
    display: flex;
    flex-direction: row;
  }
}

.team-h2 {
  margin-bottom: 50px;
}

.team-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-item svg {
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-container {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
}

.svg-container-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
}

.svg-container-item:hover {
  background-color: #2196f3;
}

.icon:hover {
  fill: #ffffff;
}

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.what-we-do-title {
  margin-bottom: 30px;
}

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 94px;
}

.what-we-do-gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.image-text-1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding-top: 30px;
}

.image-text-2 {
  position: absolute;
  bottom: 0px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding-top: 30px;
}

.image-text-3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding-top: 30px;
}

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
  line-height: normal;
}

.work-menu-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.work-menu-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}

.work-menu-list-img-item {
  width: calc((100% - 210px) / 3);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.work-menu-list-img-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.work-menu-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.work-menu-text {
  margin-bottom: 20px;
  margin-left: 24px;
}

.work-menu-list-img-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transition-duration: 250ms;
}

.overlay-box {
  position: relative;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.overlay-box:hover .overlay {
  transform: translatey(0);
}

.overlay-text {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin: 63px 24px 63px 24px;
}

.work-menu-btn {
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F5F4FA;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-menu-btn:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}