@use"./base/reset";
@use"./base/container";
@use"./base/typography";
@use"./base/colors";
@use"./layout/footer";
@use"./layout/header";
@use"./layout/modal";
@use"./pages/main-page/clients";
@use"./pages/main-page/main-menu";
@use"./pages/main-page/our-advantages";
@use"./pages/main-page/team";
@use"./pages/main-page/what-we-do";
@use"./pages/portfolio-page/work-menu";