@import"../base/reset";
@import"../base/colors";
.footer{
  background-color: $footer-bg-color;
  padding-top:60px ;
  padding-bottom:161px;
}
.footer-logo{
 color: $background-text-color;
 margin-bottom: 10px;
}
.footer-container{
  margin-left: 100px;
  display: flex;
 justify-content: center;
}
.footer-text{
  color:$text-logo-border-color;
  width: 250px;
}
body{
  font-family: Roboto;
  line-height: normal;
}
.logo,.footer-logo{
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
}
.footer-text{
  line-height: 24px; /* 171.429% */
}
.footer-title{
  color: $background-text-color;

}
.icon-footer{
  width: 20px;
  height: 20px;
  fill:$icon-color;
  border-radius: 50%;
  background-color: $footer-bg-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer:hover{
fill: $background-text-color;
background-color: $hover-btn-color;
}
.svg-container-footer{
  margin-left: 70px;
}
.send-img{
  width: 24px;
height: 24px;
z-index: 1;
fill: $icon-color;
}
.subscribe-btn{
  border-radius: 4px;
background: $hover-btn-color;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
width: 200px;
height: 50px;
color: $background-text-color;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
margin-left: 12px;
}
.subscribe-form{
  display: flex;
  justify-content: center;
}
.subscribe-wrapper{
  display: flex;
  flex-direction: column;
margin-left: 93px;

}
.subscribe-input{
  display: flex;
flex-direction: column;
justify-content: center;
color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 0.48px;
width: 308px;
height: 50px;
border-radius: 4px;
border: 1px solid $text-logo-border-color;
background: $input-bg-color;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.subscribe-titile{
  color: $background-text-color;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}
.logo-span{
  color: $hover-btn-color;
}