@import"../base/reset";
@import"../base/colors";
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
background-color: $backdrop-color;
opacity: 1;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
}
.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 300px;
  min-height: 400px;
  padding: 15px;
  background-color: $background-text-color;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.20);
  width: 528px;
height: 581px;
border-radius: 4px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.no-scroll{
  overflow: hidden;
}
.close-img{
width: 18px;
height: 18px;
}
.close-btn{
  background-color: $background-text-color;
  border-radius: 50%;
  width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: none;
border-color: $input-bg-color;
margin-left: 93%;
}
.close-btn:hover{
  fill: $hover-btn-color;
}
.modal-title{
  color: $input-bg-color;
font-size: 20px;
font-weight: 700;
letter-spacing: 0.6px;
margin-top: 8px;
margin-left: 40px;
}
.input-list{
  display: flex;
      flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 20px;
    border: none;
}
.modal-input{
  width: 448px;
height: 40px;
border-radius: 4px;
border: 1px solid $input-bg-color;
padding-left: 24px;
outline: none
}
.modal-input:focus{
  border:2px solid $hover-btn-color;
}
.info-label{
  display: flex;
  flex-direction: column;
  color: $text-logo-border-color;
margin-bottom: 10px;
margin-top: 4px;

}
.comment-textarea{
  resize: none;
  width: 448px;
height: 120px;
border-radius: 4px;
border: 1px solid $input-bg-color;
margin-top: 4px;
outline: none;
}
.comment-textarea:focus{
  border: 2px solid $hover-btn-color;
}
.comment-label{
  color: $text-logo-border-color;
}
.comment-textarea::placeholder{
  padding-top: 7px;
  padding-left: 6px;
}
.input-span{
color: $hover-btn-color;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
cursor: pointer;
}
.checkbox-label{
color: $text-logo-border-color;
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
display: flex;
align-content: center;
gap: 8px;
}
.checkbox-input{
  accent-color: $hover-btn-color;
}
.input-icon{
  width: 18px;
height: 18px;
position: absolute;
left: 4px;
transform: translateY(50%);
}
.input-wrapper{
  position: relative;
  display: inline-block;
}
.input-wrapper:hover{
fill: $hover-btn-color;
}
.send-btn{
  color: $background-text-color;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
width: 200px;
height: 50px;
border-radius: 4px;
background: $hover-btn-color;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.btn-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
