$hover-btn-color:#2196F3;
$text-logo-border-color:#757575;
$main-color:black;
$background-text-color:#ffffff;
$footer-bg-color:#2F303A;
$icon-color:#afb1b8;
$footer-icon-bg-color:#454546;
$input-bg-color:#2196f300;
$backdrop-color:#00000033;