@import"../../base/reset";
@import"../../base/colors";
.clients-item{
 border-radius: 4px;
border: 1px solid #AFB1B8;
width: 170px;
height: 92px;
padding:16px 32px 16px 32px;
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list{
  display: flex;
  justify-content: center;
  // gap: 30px;
  margin-top:50px ;
  margin-bottom:94px ;
      row-gap: 125px;
    column-gap: 135px;
    flex-wrap: wrap;
    @media screen and (min-width:1200px){
      display: flex;
      gap: 30px;
    }
}
.clients-image{
  width:106px ;
  height:60px ;
  fill: #AFB1B8;
}
.clients-item:hover{
  border: 1px solid #2196F3;
  fill: #2196F3;

}
.clients-item svg:hover{
  fill: #2196F3;
}
.clients-title{
  text-align: center;
  margin-top: 94px;
}