@import"../../base/reset";
@import"../../base/colors";
.main-menu{
background-image: url(../../../img/main-phone-bg.png);
background-repeat: no-repeat;
background-position: center;
height: 600px;
margin-top: 20px;
padding-top: 200px;
padding-bottom: 280px 



}
  @media screen and (min-width:768px) {
 .main-menu{
  background-image: url(../img/menu-bg.jpg);
 }
  }
.main-menu-title{
 font-size: 44px;
width: 395px;
text-align: center;
  color: #FFFFFF;
  line-height: 60px; /* 136.364% */
  @media screen and (min-width:768px) {
    width: 500px;
  }

}
.menu-container{
  display: flex;
      flex-direction: column;
    align-items: center;
}
.main-menu-btn{
  background-color: $hover-btn-color;
  color: #ffffff;
  line-height: 30px; /* 187.5% */
  width: 215px;
  height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(157, 154, 154, 0.15);
}