@import"../../base/reset";
@import"../../base/colors";
.our-advantages-list{
  display: flex;
  gap: 40px;
  justify-content: center;
      margin-bottom: 70px;
      flex-direction: column;
      @media screen and (min-width:768px){
        display: flex;
        flex-direction: row;
      }

}
.our-advantages-title{
  margin-bottom: 10px;
}
.our-advantages-item{
  display: flex;
flex-direction: column;
justify-content: center;
margin-top: 94px;
align-items: center;
@media screen and (min-width:768px){
  display: flex;
  align-items: start;
  
}
}
.our-advantages-img{
 width: 70px;
height: 70px;
margin-left: 70px;
margin-bottom: 15px
}
.our-advantages{
  margin-top: 50px;
  margin-bottom: 80px;
} 