@import"../../base/reset";
@import"../../base/colors";
.work-menu-list{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.work-menu-gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}
.work-menu-list-img-item{
  width: calc((100% - 70px*3)/3);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.work-menu-list-img-item:hover{
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

}
.work-menu-title{
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}
.work-menu-text{
  margin-bottom: 20px;
  margin-left: 24px;
}
.work-menu-list-img-item{
    display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transition-duration: 250ms;
}
.overlay-box{
  position: relative;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.overlay{
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.90);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}
.overlay-box:hover .overlay {
  transform: translatey(0);
}
.overlay-text{
  color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin: 63px 24px 63px 24px;
}
